<h2>Quizzy Quiz</h2>

<div class='menu' data-score=0></div>
<div class='quiz' data-score=0></div>
<div class='status'></div>

<script type='text/template' class='quiz-menu-template'>
  <div class='menu'>

    <h3>Quizzes</h3>
    <ol>
      <%% for(var i = 0; i < data.length; i++){ %>
        <li data-quiz=<%%= data[i].id %>>
          <%%= data[i].title %>
          <button class='go'>Go</button>
        </li>
      <%% } %>
    </ol>
    Name: <input type='text'><br><br><br>
    <button class='add'>Add a quiz</button>
    <div class='error'></div>
  </div>
</script>

<script type='text/template' class='question-template'>
  <div data-quiz=<%%= data[current].quiz_id %> data-question=<%%= data[current].id %>>
    <h3>Question <%%= current + 1 %></h3>
    <p><%%= data[current].question %></p>
    <%% if(data[current].question_type === 'multiple'){ %>
      <%% for(var i = 0; i < choices.length; i++){ %>
        <input type='radio' name='answer' value=<%%= choices[i] %>><%%= choices[i] %><br>
      <%% } %>
    <%% } %>
    <%% if(data[current].question_type === 'boolean'){ %>
      <input type='radio' name='answer' value='true'>true<br>
      <input type='radio' name='answer' value='false'>false<br>
    <%% } %>
    <%% if(data[current].question_type === 'blank'){ %>
      <input type='text'><br>
    <%% } %>
    <br>
    <button class='next'>Next</button>
  </div>
</script>

<script type='text/template' class='new-quiz-template'>
  <h3>Add a quiz</h3>
  Quiz name: <input type='text'><br>
  <button class='create-quiz'>Create!</button>
</script>

<script type='text/template' class='new-question-template'>
  <h3>Add a question</h3>
  <select class='type'>
    <option value='multiple'>Multiple Choice</option>
    <option value='boolean'>True/False</option>
    <option value='blank'>Free Response</option>
  </select>
  <div class='form'></div>
</script>

<script type='text/template' class='score-template'>
  <div class='final'>
    <h3><%%= name %>, you scored: <%%= score %> / <%%= total %> (<%%= (score / total * 100).toFixed(0) %>%)</h3>
    <button class='home'>All Quizzes</button>
  </div>
</script>